body {
  font-family: 'Playfair Display', serif;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
  section {
    padding: 0 2vw;
  }
  h1 {
    font-size: clamp(85px, 9vw, 1500px);
    font-weight: 500;
    color: #b3aea6;
  }
  