
:root{
  --custom-grey: #b3aea6;
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
section {
  padding: 0 2vw;
}
h1 {
  font-size: clamp(85px, 8.5vw, 1200px);
  font-weight: 500;
  color: var(--custom-grey);
}

.bold{
  font-weight:bold;
}

@media (min-width: 1200px) {
  html {
  scroll-behavior: smooth;
}
}
  